@media all and (max-width: 320px) {
  .home-content h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .home-content p {
    font-size: 16px;
  }

  .home-section .home-content > img {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
  }

  .home-content {
    top: 20%;
  }
}
